@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html,
  body {
    font-family: Lora, ui-serif, serif;
    background-color: #f6f8fa;
    transition: background-color 0.5s;
  }

  code {
    background-color: #eff1f3;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.5s;
  }

  .dark,
  .dark body {
    background-color: #313e50 !important;
  }

  .dark code {
    background-color: #293443 !important;
    padding: 0.25rem 0.5rem;
  }

  a:not(.no-underline) {
    box-shadow: inset 0 -1px 0 0 #3abfc8;
    border-bottom: 1px solid #3abfc8;
    transition: box-shadow 0.3s;
  }

  a:focus-visible {
    outline: 2px solid #3abfc8;
    box-shadow: none;
    border-bottom: none;
  }

  @media (hover: hover) {
    a:not(.no-underline):hover {
      box-shadow: inset 0 -30px 0 0 #3abfc8;
    }
  }

  input {
    padding: 0.5rem;
    border: 2px solid #313e50;
    background-color: transparent;
    border-radius: 2px;
    outline: none;
    color: #313e50;
  }

  .dark input {
    border-color: #f6f8fa;
    color: #f6f8fa;
  }

  input:focus-visible {
    border-color: #3abfc8;
  }

  button[type="submit"] {
    background: #313e50;
    border: 2px solid #313e50;
    padding: 0.5rem 1rem;
    color: #ffffff;
    border-radius: 2px;
    transition: all 0.3s;
    outline: none;
  }

  .dark button[type="submit"] {
    background: #f6f8fa;
    border-color: #f6f8fa;
    color: #313e50;
  }

  button[type="submit"]:hover {
    background: #293443;
    border-color: #293443;
  }

  .dark button[type="submit"]:hover {
    background: #eff1f3;
    border-color: #eff1f3;
  }

  button[type="submit"]:focus-visible {
    border-color: #3abfc8;
  }
}
